* {
  font-family: "Libre-Franklin", "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2f2ed;
  line-height: 1;
  width: 100%;
}

/* Navigation Bar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1e5366;
  padding: 10px;
  align-items: center;
}

.logo {
  color: #f0f8ff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
  border-right: 1px solid #e2f2ed;
  padding: 10px 6px;
}

ul li a {
  text-decoration: none;
  color: #f0f8ff;
  text-align: center;
  font-size: 14px;
}

ul li a.active {
  background-color: green;
}

ul li a:active {
  text-decoration: none;
}

ul li a:hover {
  color: darkgray;
}

ul li:last-child {
  border-right: none;
}

/* Home Page */

.main-section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: lightgray;
  padding: 15px;
  margin-bottom: 10px;
}

.page-header {
  font-style: italic;
}

.contact-form {
  display: flex;
  flex-direction: column;
  border: 2px solid #1e5366;
  border-radius: 10px;
  margin: 20px;
}

.form-header {
  align-self: center;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
form {
  padding: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
div label {
  font-weight: 600;
  padding-bottom: 3px;
  letter-spacing: 0.5px;
}

div input {
  padding: 5px;
  border-radius: 5px;
}

div textarea {
  padding: 8px;
  height: 150px;
  border-radius: 5px;
  padding-bottom: 10px;
}

form button {
  height: 40px;
  width: 200px;
  background-color: orange;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
  align-self: center;
}

/* Recipe Page */

.recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-title {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 2px solid black;
}

table {
  width: 90%;
  border: 2px solid;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

td {
  text-align: center;
}

.instructions {
  padding: 20px;
}

.instruction-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

ol {
  padding: 0 10px 0 25px;
}

ol li {
  padding-bottom: 5px;
}

#cake-pic {
  width: 98%;
  height: auto;
  border: 2px solid #0b3a4c;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Random facts page */

.facts-title {
  font-weight: bold;
  font-stretch: expanded;
}

.facts ul li {
    margin: 0 10px;
    border-bottom: 1px solid #0b3a4c;
}

.facts ul li:last-child {
    border-bottom: none;
}
.random-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#flamingo-pic {
  width: 98%;
  height: auto;
  border: 2px solid #0b3a4c;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* 

.page-header {
    font-style: italic;
    font-size: 18px;
    padding: 0 10px;
}

.facts-title {
    font-weight: bold;
    font-size:22px;
    padding: 0 10px;
    text-decoration: underline;
}

.facts {
    font-size: 20px;
    margin-right: 10px;
}
ul li {
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: solid 1px #0B3A4C;
    margin-left: -10px;
}

#flamingo-pic {
    width:100%;
    max-width: 900px;
    margin-top: 5px;
    border: solid;
    border-color:#0B3A4C;
    border-width: 2px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;

} */
