* {
    font: "Libre-Franklin", "Raleway";
}

body {
    background-color: #E2F2ED;
    
}

.logo {
    font-size: 18px;
    margin: 10px;
    color: #F0F8FF;
    margin-left: 20px;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #1E5366;
    color:#F0F8FF
}

.links {
    display: flex;
    text-decoration: none; 
    color: #F0F8FF;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    height: auto;
    color: #F0F8FF;
}

a:visited {
    text-decoration: none;
    color: #F0F8FF
}
a:hover {
    color: #0B3A4C;
}

a:active {
    color: black;
    text-decoration: underline;
}

.recipe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-name {
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    margin: 5px;
}
.recipe-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.ingredients-quantity {
    width: 80%;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-evenly;
}

.ingredient-line {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 80%;
    justify-content:space-evenly;
    line-height: 25px;
}
.recipe-title {
    text-decoration: underline;
    font-size: 22px;
}

.ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    padding: 10px;
    justify-content: center;
}
table {
    width: 90%
}

th {
    font-size: 20px;
    padding-bottom: 10px;
}

.instruction-title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    padding-top:30px;
}

.instructions {
    display: flex;
    width: 100%;
    font-size: 20px;
}

#cake-pic {
    width: 100%;
    height: auto;
    border: solid #0B3A4C;
    border-radius: 10px;

}