* {
    font: "Libre-Franklin", "Raleway";
    scroll-behavior: smooth;
}

body {
    background-color: #E2F2ED;
}

.logo {
    font-size: 18px;
    margin: 10px;
    color: #F0F8FF;
    margin-left: 20px;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #1E5366;
    color:#F0F8FF
}

.links {
    display: flex;
    text-decoration: none; 
    color: #F0F8FF;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    height: auto;
    color: #F0F8FF;
}

a:visited {
    text-decoration: none;
    color: #F0F8FF
}
a:hover {
    color: #0B3A4C;
}

a:active {
    color: black;
    text-decoration: underline;
}

.recipe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-name {
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    margin: 5px;
}
.recipe-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.recipe-title {
    text-decoration: underline;
    font-size: 22px;
    padding-bottom: 10px;
}

table{
    width: 90%;
    border: 1px solid;
    border-radius: 10px;;
    font-size: 20px;
    padding: 10px;
}

thead {
    margin-bottom: 50px;
}
td {
    text-align: center;
}
.instruction-title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    padding-top:30px;
}

.instructions {
    display: flex;
    width: 100%;
    font-size: 20px;
}

#cake-pic {
    width: 100%;
    height: auto;
    border: solid #0B3A4C;
    border-radius: 10px;

}


.page-header {
    font-style: italic;
    font-size: 18px;
    padding: 0 10px;
}
.random-page {
    width: 100%;
}
.facts-title {
    font-weight: bold;
    font-size:22px;
    padding: 0 10px;
    text-decoration: underline;
}

.facts {
    font-size: 20px;
    margin-right: 10px;
}
li {
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: solid 1px #0B3A4C;
    margin-left: -10px;
}

#flamingo-pic {
    width:100%;
    margin-top: 5px;
    border: solid;
    border-color:#0B3A4C;
    border-width: 2px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;

}