* {
  font-family: "Libre-Franklin", "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2f2ed;
  line-height: 1.2;
  width: 100%;
}

/* Navigation Bar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1e5366;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

.logo {
  color: #f0f8ff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 10px;
}

ul li {
  float: left;
  border-right: 1px solid #e2f2ed;
  padding: 10px 6px;
}

ul li a {
  text-decoration: none;
  color: #f0f8ff;
  text-align: center;
  font-size: 14px;
}

ul li a.active {
  background-color: green;
}

ul li a:active {
  text-decoration: none;
}

ul li a:hover {
  color: darkgray;
}

ul li:last-child {
  border-right: none;
}

/* Home Page */

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: lightgray;
  margin-bottom: 10px;
}

.page-header {
  font-style: italic;
  padding: 20px 10px 5px 10px;
}

.page-subheader {
  padding: 0px 10px 15px 10px;
}

.contact-form {
  /* display: flex;
  flex-direction: column; */
  width: 90%;
  border: 2px solid #1e5366;
  border-radius: 10px;
  margin: 20px;
  max-width: 600px;
}

.form-header {
  align-self: center;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
form {
  padding: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
div label {
  font-weight: 600;
  padding-bottom: 3px;
  letter-spacing: 0.5px;
}

div input {
  padding: 5px;
  border-radius: 5px;
}

div textarea {
  padding: 8px;
  height: 150px;
  border-radius: 5px;
  padding-bottom: 10px;
}

form button {
  height: 40px;
  width: 200px;
  background-color: orange;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
  align-self: center;
  border: 1px solid #1e5366;
}

/* Recipe Page */

.recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.recipe-title {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

table {
  width: 90%;
  max-width: 500px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
th {
  padding-top: 10px;
  padding-bottom: 5px;
}
td {
  text-align: center;
}

.instructions {
  padding: 20px;
}

.instruction-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

ol {
  padding: 0 10px 0 25px;
}

ol li {
  padding-bottom: 5px;
}

#cake-pic {
  width: 98%;
  height: auto;
  max-width: 700px;
  border: 2px solid #0b3a4c;
  border-radius: 10px;
  margin-bottom: 100px;
}

/* Random facts page */
.random-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.facts-title {
  font-weight: bold;
  font-stretch: expanded;
  margin: 15px 0;
}

.facts ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.facts ul li {
  margin: 0 10px;
  border-bottom: 1px solid #0b3a4c;
}

.facts ul li:last-child {
  border-bottom: none;
}
.random-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#flamingo-pic {
  width: 98%;
  height: auto;
  max-width: 800px;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-left: solid;
  border-width: 2px;
  border-color: #0b3a4c;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 100px;
}
